<h1>Burgers!</h1>

<h2>Burgers that have not been devoured yet!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>{{this.burger_name}} 
        <button class="devoured" data-id="{{this.id}}" data-newdevoured="{{this.devoured}}">
          Eat me!
	      </button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>